[Unit]
Description=Picamera Manager service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/.picamera-manager/server
ExecStart=/home/pi/.picamera-manager/server/run.py --environment PRODUCTION

[Install]
WantedBy=multi-user.target
